<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 th:text="${article.subject}"></h2>
    <div th:text="${article.content}"></div>

    <div>
        <a th:href="@{|/article/list|}">
            <button>목록</button></a>
        <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
           th:text="수정"></a>
        <a onclick="return confirm('정말로 삭제 하시겠습니까?');"
           th:href="@{|/article/delete/${article.id}|}"
           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
           th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
           th:text="삭제"></a>
    </div>



</body>
</html>